# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      test_html/
      test_latex/
    )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    - id: flake8

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
