exclude .flake8
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini

include LICENSE
include MANIFEST.in
include README.md

recursive-include sphinx_proof *.js
recursive-include sphinx_proof *.css

recursive-include *.pot *.po *.mo
