name: continuous-integration

on:
  push:
    branches: [main]
  pull_request:

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - uses: pre-commit/action@v3.0.0

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        sphinx: [">=5,<6"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run : |
          python -m pip install --upgrade pip
          pip install -e.[testing]
      - name: Run pytest
        run: |
          pytest --durations=10 --cov=sphinx_proof --cov-report=xml --cov-report=term-missing
      - name: Create cov
        run: coverage xml
      # TEMPORARY FIX: Disable codecov until we can get it working again
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4.5.0
        if: false
        with:
          name: sphinx-proof-pytests
          flags: pytests
          files: ./coverage.xml

  docs:
    name: Documentation build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[rtd]
      - name: Build docs
        run: |
          cd docs
          make clean
          make html

  publish:
    name: Publish to PyPi
    needs: [pre-commit, tests, docs]
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Build package
        run: |
          pip install wheel
          python setup.py bdist_wheel sdist
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_KEY }}
